<div class="card" style="width: 18rem;">
    <img src="http://localhost:8090/{{contact.image}}" 
    class="card-img-top" 
    alt="{{contact.name}}">
    <div class="card-body">
        <h5 class="card-title">{{contact.name}}</h5>
        <p class="card-text">
            <strong>Email:</strong> {{contact.email}}<br>
            <strong>Mobile:</strong> {{contact.mobile}}<br>
            <strong>Address:</strong> {{contact.address}}<br>
            <strong>City:</strong> {{contact.city}}<br>
            <strong>Pin:</strong> {{contact.pin}}
        </p>
    </div>
</div>